<template>
    <div>

        <div v-if="isAddCard === false">
            <button class="btn btn-primary" type="button" @click="addNewCard">Add New Card</button>
            <br />
            <label class="col-form-label">Filter by name:</label>
            <input type="text" v-model="filterByName" @change="getCards()" />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Card Name</th>
                        <th>Card Count</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(card, index) in cards" :key="index">
                        <td>{{card.cardName}}</td>
                        <td>{{card.cardCount}}</td>
                        <td>
                            <a :href="'/card/update?cardId='+card.cardId" class="btn btn-warning">
                                <fa-icon icon="edit"></fa-icon>
                                Edit
                            </a>
                            <button class="btn btn-danger" @click="deleteSpecificCard(card)">
                                <fa-icon icon="trash-alt"></fa-icon>
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="row">
                <div class="col-md-12">
                    <ul class="pagination">
                        <li class="page-item" v-for="page in totalPage">
                            <button @click="changePage(page)">{{page}}</button>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div v-if="isAddCard === true">
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="insertCard">
                    <label class="col-form-label">Card Name</label>
                    <validation-provider name="name" rules="required|min:3|max:7" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newCard.cardName" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Card Count</label>
                    <validation-provider name="count" rules="required|numeric" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newCard.cardCount" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>
        </div>

    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import swal from 'sweetalert2';
    import { ValidationObserver } from 'vee-validate';
    import { CardService, CardModel } from '../services/NSwagService';

    @Component({
        created: async function (this: CardList) {
            await this.getCards();
        }
    })
    export default class CardList extends Vue {
        // to connect with NSwagger
        service: CardService = new CardService();

        //List of cards
        cards: CardModel[] = [];

        //boolean to check if you want to add card or not
        isAddCard = false;

        newCard: CardModel = {
            cardName: '',
            cardCount: 0
        }

        //for pagination
        filterByName = '';
        pageIndex = 1;
        itemPerPage = 3;
        totalData = 1;
        totalPage = 1;

        //display cards with pagination and filter
        async getCards(): Promise<void> {
            this.totalData = await this.service.getTotalData();
            this.totalPage = Math.ceil(this.totalData / this.itemPerPage);

            this.cards = await this.service.getFilterData(this.pageIndex, this.itemPerPage, this.filterByName);
        }

        //to change your page
        async changePage(page: number): Promise<void> {
            this.pageIndex = page;
            await this.getCards();
        }

        //to create new card and insert it into the database
        async insertCard(): Promise<void> {
            const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }

            await this.service.insertCard(this.newCard.cardName, this.newCard.cardCount);
            await this.getCards();

            swal.fire({
                title: 'Success!',
                icon: 'success',
                text: 'Success insert new data card.'
            });
            this.newCard.cardName = '';
            this.newCard.cardCount = 0;
            this.isAddCard = false;
        }

        //to change the boolean
        addNewCard(): void {
            this.isAddCard = true;
            return;
        }

        //pass the id of the card you want to delete
        async deleteSpecificCard(card): Promise<void> {
            swal.fire({
                title: 'Are you sure?',
                text: "Delete this card data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(async (result) => {
                if (result.value) {
                    await this.service.deleteCard(card);
                    await this.getCards();
                    swal.fire(
                        'Deleted!',
                        'Your file has been deleted.',
                        'success'
                    )
                }
            });

        }
    }
</script>
