﻿<template>
    <div>

        <div>
            <validation-observer ref="observer" v-slot="{validate,valid}">
                <form method="post" @submit.prevent="updateCards">
                    <label class="col-form-label">Card Name</label>
                    <validation-provider name="name" rules="required|min:3|max:7" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newCard.cardName" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <label class="col-form-label">Card Count</label>
                    <validation-provider name="count" rules="required|numeric" v-slot="{errors}">
                        <input class="form-control" type="text" v-model="newCard.cardCount" />
                        <span class="text-danger font-italic">{{errors[0]}}</span>
                    </validation-provider>
                    <br />

                    <button class="btn btn-primary" type="submit">
                        <fa-icon icon="check"></fa-icon>
                        Submit
                    </button>
                </form>
            </validation-observer>
        </div>

    </div>
</template>

<script lang="ts">
    import Vue from 'vue';
    import Component from 'vue-class-component';
    import { CardModel, CardService } from '../services/NSwagService';
    import { ValidationObserver } from 'vee-validate';
    import swal from 'sweetalert2';

    @Component({
        created: async function (this: UpdateCard) {
            await this.getSpecificCard();
        }
    })


    export default class UpdateCard extends Vue {
        service: CardService = new CardService();

        newCard: CardModel = {
            cardId: 0,
            cardName: '',
            cardCount: 0
        }

        //input your current data into the textbox
        async getSpecificCard(): Promise<void> {
            const urlParams = new URLSearchParams(window.location.search);
            const cardId = urlParams.get('cardId')?.valueOf();
            this.newCard = await this.service.getSpesificCard(cardId);
        }

        //to update the card you choose
        async updateCards(): Promise<void> {

        const valid = await (this.$refs.observer as InstanceType<typeof ValidationObserver>).validate();
            if (valid == false) {
                return;
            }
            swal.fire({
                title: 'Are you sure?',
                text: "Update this card data",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, update it!'
            }).then(async (result) => {
                if (result.value) {

                    await this.service.updateCard(this.newCard.cardId, this.newCard.cardName, this.newCard.cardCount);
                    swal.fire(
                        'Updated!',
                        'Your file has been updated.',
                        'success'
                    ).then(function () {
                        window.location.href = '/card/index';
                    });
                }

            })

        }
    }
</script>

